services:
  db:
    container_name: pg_container
    image: postgres:16.0
    restart: always
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_USER: pguser
      POSTGRES_PASSWORD: pguser@9000!
      POSTGRES_DB: test_db
    volumes:
      - ./volume:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  pgadmin:
    container_name: pgadmin4_container
    image: dpage/pgadmin4:7.8
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: j.klebucki@ajksoftware.pl
      PGADMIN_DEFAULT_PASSWORD: Password2021!
    ports:
      - "5050:80"
